<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060072039702-u4qhjo0isj72s38fajdauigcd8rdmpmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060072039702-u4qhjo0isj72s38fajdauigcd8rdmpmj</string>
	<key>API_KEY</key>
	<string>AIzaSyB-ilwcTmtESvmI7hzDSUXEAaORBss7DwE</string>
	<key>GCM_SENDER_ID</key>
	<string>1060072039702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.memtopia.flutterZeroToOne</string>
	<key>PROJECT_ID</key>
	<string>flutter-zero-to-one</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-zero-to-one.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060072039702:ios:b661139dd0109bcd1b1c37</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-zero-to-one.firebaseio.com</string>
</dict>
</plist>